@import "mixin";
@import "var";
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

.main{
    height: 100vh;
    width: auto;
    background-color: $color1;
    @include flex_code();
   

    // operator
h1{
    @include font_size(20);
    color: white;
    &:hover{
        color: red;
}
}

p{
    @include font_size(20px);
    color: $color;
    letter-spacing: 10px;
    font-family: cursive;
    text-decoration: line-through;
}

}


