h2{
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
table, th, td{
    border: none;
    border-collapse: collapse;
    
}
table{
    width: 100%;
}
th{
    height: 50px;
    background-color: lightgreen;

}
td{
    text-align: center;
    height: 30px;
}
tr:nth-child(even){
    background-color: lightgrey;
}
tr:hover{
    background-color: blanchedalmond;
}
td img{
    height: 50px;
    width: 50px;
}
